.login-main{
    width: 50%;
    /* height: 50%; */
}
.login{
    display: flex;
 justify-content: center;
 align-items: center;   
 /* height: 100vh;  */
}
.login_log{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.login-container{
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
}
.sign-up{
    padding-bottom: 20px;
}
.login-container input{
    width: 100%;
    padding: 5px;
    margin: 5px 0px;
}
.login-container h5{
    font-size: 15px;
}
.login-container button{
    width: 100%;
    padding: 10px 0;
    background-color: #088178;
    color: antiquewhite;
    font-size: 15px;
    margin-top: 10px;
}
@media(max-width:700px){
    .login-main{
        width: 90%;
    }

}